
<div class="card">
  <div class="card-header">
  <%=  @id_users.first_name %>,<%=  @id_users.last_name %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Nom prénom :  <%=  @id_users.email %> </h5>
    <p class="card-text">Description : <%=  @id_users.description %><br></p>
    <a href="#" class="btn btn-primary">  age : <%=  @id_users.age %></a>
  </div>
</div>