  <div class="row">

    <div class="col s4">
      <div class="card #00796b teal darken-2 ">

        <div class="card-content white-text">
          <span class="card-title">Title : <%= @id_gossips.title %>, <br> Author : <%= @id_gossips.user.first_name %></span>
          <p>Content : <%= @id_gossips.content %></p>
                  <p>City :  <%= @id_gossips.user.city.name %></p>

        </div>
        <div class="card-action">
    <a  href="<%= user_path(@id_gossips.user_id)%>" class="btn btn-primary"  ><%= @id_gossips.user.first_name %> </a> <button class="btn"><a href="/gossips">Revenir en arriere</a></button>
<a class="btn" href="<%= edit_gossip_path(@id_gossips.id) %>">Editer</a>
    <div> <%= @id_gossips.created_at%>
    </div>
      </div>
    </div>
  </div>

    
   <h1>un petit commentaire ? </h1>


<%  @comment_set.each do |f| %>
<div>

    <label> Content </label>
    <%= f.content %>
    <%= f.id %>

</div>

<% end %>
<%  @comment_author.each do |a| %>
    <label> Author </label>

  <%= a.first_name %><br>
  <a class="btn " href="<%= edit_comment_path %>">Par la pour modifier </a>

  <% end %>
   <a class="btn " href="<%= new_comment_path %>">Commenter </a>
